@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Pixelify+Sans:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sometype+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'DM sans', sans-serif;
}

:root{
  --bg-gray: #111821;
  --main-red: #E74C3C;
  --tan: #E4D6A7;
  --off-gray: #8390A5;
  --light-gray: #D5DBDB;
}

body{
  background-color: #121314;
}

/* ---- TOPNAV STYLES ---- */
.topnav-container{
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  border-bottom: 1px solid #333;
}

.topnav-links-container{
  width: 65vw;
  display: flex;
  justify-content: space-around;
}

.img-topnav-container img{
  width: 50px !important;
  height: 50px !important;
  padding: 10px;
}

.topnav-links-container a{
  color: #fff;
  text-decoration: none;
  font-family: 'DM sans', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}

.img-topnav-container{
  width: 35vw;
}

/* ---- FOOTER STYLING ---- */
.footer-container{
  width: 100vw;
  border-top: 1px solid #333;
  height: 10vh;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
}

.footer-container a{
  font-size: 22px;
}

.footer-icons{
  color: #fff;
  width: 20px;
  text-align: center;
  padding: 20px 10px;
}

/* ---- LANDING PAGE STYLING ---- */
.landing-header{
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.landing-img{
  aspect-ratio: 1/1;
  height: auto;
  min-width: 320px;
}

.landing-text-container > h1{
    margin-top: 15px;
    font-size: 52px;
    margin-left: 100px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #c7b8b8;
  }

  h5{
    margin-left: 100px;
    font-size: 32px;
    color: var(--light-gray);
    font-weight: 500;
  }

h5 hr{
  width: 20px;
  margin-right: 5px;
  display: inline-block;
  border: 1px solid #E74C3C;
}

  p{
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
    margin-left: 100px;
    width: 30vw;
    border-left: 1px solid #E74C3C;
    color: #fff;
    & span {
      color: var(--main-red);
      font-weight: bolder;
    }
  }
  h4{
    color: #aca0a0;
    margin-top: 10px;
    margin-left: 100px;
  }


  table{
    color: #fff;
    font-family: 'Reddit Mono', sans-serif;
    width: 50vw;
    margin-top: 100px;
    margin-left: 25vw;

    & h1{
      color: #E74C3C;
      font-family: 'DM Sans', sans-serif;
    }

    & p{
      border-left: 1px solid #E74C3C;
      padding-left: 5px;
      font-family: 'Poppins', sans-serif;
    }

    & a{
      color: dodgerblue;
      text-decoration: none;
    }

    & ul{
      color: #fff;
      & li{
        color: #fff;
        margin-left: 16px;
        margin-bottom: 10px;
      }
    }
  }

.initial::first-letter{
  initial-letter: 2;
  margin: 0 5px 5px 0;
  font-weight: 600;
  font-style: italic;
}

table, tr, td{
  border-collapse: collapse;
  border: 2px solid #333;
}

td{
  padding: 7px;
}

td:nth-child(odd){
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
}

tr:nth-child(even){
  background-color: #2A2B2C;
}

.text-container{
  font-family: 'Reddit Mono', sans-serif;
  width: 50vw;
  margin-top: 100px;
  margin-left: 25vw;

  & h1{
    color: #E74C3C;
    font-family: 'DM Sans', sans-serif;
  }

  & p{
    border-left: 1px solid #E74C3C;
    padding-left: 5px;
    font-family: 'Poppins', sans-serif;
  }

  & a{
    color: dodgerblue;
    text-decoration: none;
  }

  & ul{
    margin-top: 16px;
    & li{
      margin-bottom: 10px;
      color: #fff;
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: 500px){
  .img-topnav-container img{
    display: none;
  }

  .landing-header{
    display: block;
  }

  .text-container{
    margin-left: 10vw !important;
    width: 90vw !important;
  }

  table{
    width: 100vw;
    margin-left: 0;
  }
}